body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

:root {
    --main-green: #69b550;
    --main-font: font-family: 'Oswald', sans-serif;
    --text-color: #555;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-green)

}

a{ 
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: rgb(211, 211, 218);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg) 
 }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg) 
 }
 .nav-menu{
  position: fixed;
  left: -100%;
  top: 75px;
  gap: 0;
  flex-direction: column;
  background-color: var(--main-green);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  padding: 0;
 }

 nav-item{
  margin: 16px 0;
 }

 .nav-menu.active{
  left: 0 !important;
  z-index: 1000;
 }
}
header > div:first-of-type {
    height: 100%;
}

header > div > div  > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
header > div > nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.container {
    max-width: 1320px;
}

.full-width {
    width: 100%;  
}

.logo {
    height: 100%;
}

header > div > nav > ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

header > div > nav > ul > li {
    position: relative;
    list-style: none;
    margin-right: 5%;
    cursor: pointer;
}


nav > div:last-of-type > a {
    position: relative;
    color: #fff;
    /* text-decoration: none; */
}


  #hero {
    position: relative;
    width: 100vw;
    height: 75vh;
  }

  #hero::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image: url(images/hero-bg3.jpg); /*Put your image url*/
        background-size: cover;
        background-position: center;
        opacity: 0.80; /*Value from 0.0 to 1.0*/
  }

  #hero-container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hero-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  #hero-left > h1 {
    font-size: 3.75rem;
    color: var(--main-green);
    font-weight: bolder;
    margin: 10% 0% 0 0;
  }
  #hero-left > p {
    color: var(--text-color);
  }
  #hero-right{
    width: 50%;
    height: 100%;
    /* background-color: lightblue; */
  }

  .hero-content {
    width: 100%;
    height: 100%;
  }

  .buttons-container > button:first-of-type {
    background-color: var(--main-green);
    font-family: var(--main-font);
    border: 1px solid;
    border-color: var(--main-green)
  }
  .buttons-container > button:last-of-type {
    color: var(--text-color);
    font-family: var(--main-font);
    border: none;
    margin-left: 20px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  }

  .basic-button-styling {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.25rem;
  }

  #counter {
    height: 20vh;
    width: 100%;
    background-color: var(--main-green);
  }

  #counter-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }